/* colors */
.blueColor{
    background: blue;
}
.redColor{
    background: red;
}

.greenColor{
    background: green;
}

.pinkColor{
    background: deeppink;
}

.orangeColor{
    background: orange;
}

.yellowColor{
    background: yellow;
}

.lightBlueColor{
    background: #bee5eb;
}

.greyColor{
    background: rgba(223,219,212,1.0);
}

.darkBlue{
    height:10%;
    background:rgba(0,81,114,.4);
}
.pageBackground{
   background:rgba(0,91,124,.2);
}

/* Border curves */
.imageBorder{
    border-radius: 5px;
}

/* margins */
.marginBasic {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
     border-radius: 5px;
}

.marginLeftEnd {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    border-radius: 5px;
}

.marginRightEnd {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    border-radius: 5px;
}

.marginBox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    border-radius: 5px;
}


.marginTitle {
    margin-right: 10px !important;
    margin-left: 10px !important;
     border-radius: 5px;
}

.marginSearchBar {
    margin-top: 10px !important;
    border-radius: 5px;
}
.marginSearchTop {
    margin-top: 25px !important;
}

.marginSearchTopL {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.marginSearchTopR {
    margin-top: 10px !important;
    margin-left: 10px !important;
}
/* Font Size */
.titleText {
    font-size: 3vmax;
    text-align: center;
    padding-top: 1vmin;
}

.titleSubText {
    font-size: 1vmax;
    text-align: center;
}

.heightBox {
    height: 60%;
}

.searchImg{
    background-image: url('../images/searchLogo.jpg');
    width: 34px;
    height: 34px;
}

.padding1{
    padding-top: 0.3vmin;
    padding-left: 0.3vmin;
    padding-right: 0.3vmin;
}

.margin1{
    margin-bottom: 1vmin;
    margin-top: 1vmin;
}

.rounded1{
   border-radius: 1vmax;
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {

    outline: none !important;
    box-shadow: none;
     -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
     -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
      outline: none !important;
   box-shadow: none;
}